/* @theme custom */

@import "default";

section {
  padding: 30px;
  justify-content: start;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino   Sans", sans-serif;
  font-weight: 500;
}
section::after {
  content: attr(data-marpit-pagination) "/" attr(data-marpit-pagination-total);
}
section h1 {
  border-bottom: 1px solid;
}

table {
  /* border: 1px #000 solid; */
  text-align: center;
  width: 100%;
}
table th {
  border-color: #333;
}
table td {
  border-color: #333;
}

.nowrap {
  /* no new line */
  white-space: nowrap;
}

/* hide */
hide {
  background-color: #ddd;
  color: #ddd;
}

/* note */
note {
  position: relative;
  bottom: 5%;
  left: 5%;
  right: 8%;
  padding: 10px 0px 5px 60px;
  box-sizing: border-box;
  background: #efefef;
  position: absolute;
}
note::before {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 15px;
  content: "📓";
  color: #cfcfcf;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
}
note p {
  padding: 0;
  margin: 10px 0;
  line-height: 1.7;
}
note cite {
  display: block;
  color: #888888;
}

red {
  color: red;
}

gray {
  color: #b7b7b7;
}

/* two cols */
div.twocols {
  margin-top: 0px;
  column-count: 2;
}
div.twocols p:first-child,
div.twocols h1:first-child,
div.twocols h2:first-child,
div.twocols ul:first-child,
div.twocols ul li:first-child,
div.twocols ul li p:first-child {
  margin-top: 0 !important;
}
div.twocols p.break {
  break-before: column;
  margin-top: 0;
}

/* title */
section.title {
  justify-content: center;
  text-align: center;
}

pre {
  position: relative;
  padding: 0em 0em 0em 2em;
  /* 多ブラウザ対応(たぶん) */
  background-image: -webkit-linear-gradient(#f6f8fa 50%, #e7ecf1 50%);
  background-image: -moz-linear-gradient(#f6f8fa 50%, #e7ecf1 50%);
  background-image: -ms-linear-gradient(#f6f8fa 50%, #e7ecf1 50%);
  background-image: -o-linear-gradient(#f6f8fa 50%, #e7ecf1 50%);
  background-image: linear-gradient(#f6f8fa 50%, #e7ecf1 50%);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2.27em 2.27em;
}

pre code svg[data-marp-fitting="svg"] {
  max-height: none;
}

pre::before {
  content: "01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20";
  /* content: counter(linenumber); */
  line-height: 1.15;
  height: 100%;
  width: 2em;
  position: absolute;
  left: 5px;
  word-wrap: break-word;
  overflow: hidden;
  color: gray;
  white-space: pre-line;
}
